 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

header {
  background: #333;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: white;
  margin-left: 1rem;
  text-decoration: none;
}

main {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

section {
  flex: 3;
  background: #f4f4f4;
  padding: 1rem;
}


aside {
  flex: 1;
  background: #ddd;
  padding: 1rem;
  
}

p{
line-height: 2;

}

footer {
  text-align: center;
  background: #333;
  color: white;
  padding: 1rem;
}




